*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
.full-width {
    width: 100%;
    float: left;
}
.mt-0 {
    margin-top: 0 !important;
}
.flex-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-end {
    justify-content: flex-end !important;
}
.header-bg {
    width: 100%;
    float: left;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-profile-set {
    width: 100%;
    display: flex;
    align-items: center;
}
.header-profile-set img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 100%;
}
.non-disciple-body-container {
    width: 100%;
    float: left;
    padding: 24px 16px;
}
.header-profile-label {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-weight: 400;
}
.header-profile-name {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}
.main-title {
    width: 100%;
    float: left;
    padding: 24px 0;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    font-weight: 600;
}
.assessment-btn {
    padding: 10px 50px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #CE3363;
    border-radius: 8px;
    border: solid 1px #CE3363;
}
.assessment-info-text {
    width: 100%;
    float: left;
    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
}
.assessment-info-text a {
    color: #666666;
}
.assessment-info-title {
    width: 100%;
    float: left;
    padding: 22px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.instuction-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.instuction-set:last-child {
    margin-bottom: 0;
}
.instuction-set-badge {
    width: 32px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border-radius: 100%;
    background-color: #D9D9D9;
}
.instuction-set-title {
    padding: 12px 0;
    padding-top: 16px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-weight: 500;
}
.instuction-set-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.fixed-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 16px;
    border-top: solid 1px #999999;
    position: fixed;
    background-color: #fff;
    /* bottom: -83px; */
    transition: all ease .3s;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.fixed-footer-container .assessment-btn {
    padding: 16px 22px;
}
body.scrolled {
    padding-bottom: 83px;
}
.scrolled .fixed-footer-container {
    bottom: 0;
    transition: all ease .3s;
}
.assessment-landing-container {
    width: 100%;
    float: left;
    padding: 24px 16px;
    position: relative;
    padding-bottom: 83px;
    height: 100vh;
    overflow: hidden;
}
.assessment-landing-text {
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.mt-32 {
    margin-top: 23px;
}
.assessment-input-container {
    width: 100%;
    float: left;
    padding: 12px 0;
}
.assessment-input-container input,
.assessment-input-container textarea {
    width: 100%;
    float: left;
    padding: 16px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    border: 1px solid #999999;
    outline: none !important;
    box-shadow: none;
}
.assessment-input-container textarea {
    border-radius: 8px;
}
.assessment-input-container input:first-child {
    border-radius: 8px 8px 0px 0px;
}
.assessment-input-container input:last-child {
    border-radius: 0px 0px 8px 8px;
    margin-top: -1px;
}
.assessment-input-container label {
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px;
}
.assessment-landing-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: solid 1px #999999;
}
.footer-decline {
    font-weight: 700;
font-size: 13px;
line-height: 16px;
text-decoration-line: underline;
color: #000000 !important;
border: none;
    padding: 0;
    outline: none !important;
}
.assessment-landing-container .assessment-btn {
    padding: 16px 22px;
}
button.assessment-btn[disabled] {
    cursor: default;
    background: #DDDDDD;
    border-color: #dddddd;
}
.questionnaire-container .progress {
    position: absolute;
    bottom: 78px;
    left: 0;
    right: 0;
    height: 8px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #D9D9D9;
    border-radius: 0;
    box-shadow: none;
}
.questionnaire-container .assessment-landing-footer{
    border-top: none;
}
.questionnaire-container .progress-bar-success {
    background-color: #000;
}
.assessment-landing-container.questionnaire-container .footer-decline{
    border: none;
    background-color: #fff;
    box-shadow: none;
    outline: none !important;
}
.questionnaire-question-container {
    width: 100%;
    float: left;
}
.questionnaire-question-text {
    width: 100%;
    float: left;
    padding: 26px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-top: 0;
}
.question-radio-set {
    width: 100%;
    float: left;
}
.question-radio {
    width: 100%;
    float: left;
    position: relative;
    margin: 6px 0;
}
.question-radio-set input[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.question-radio-set input[type=radio] + .label {
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: left;
    padding: 14px 16px;
    border: 1px solid #999999;
    border-radius: 8px;
    background-color: #fff;
}
.question-radio-set input[type=radio]:checked + .label {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}
.radio-instruction-text {
    width: 100%;
    float: left;
    padding: 4px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.questionnaire-question-container.question-with-instruction .question-radio-set input[type=radio] + .label{
    width: 48px;
    height: 48px;
    text-align: center;
    background: #F4F4F4;
    border: 0.5px solid #999999;
    border-radius: 8px;
}
.questionnaire-question-container.question-with-instruction .question-radio-set {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.questionnaire-question-container.question-with-instruction .question-radio {
    width: auto;
    float: left;
    position: relative;
    margin: 2px 2px;
}
.questionnaire-question-container.question-with-instruction .question-radio-set input[type=radio]:checked + .label{
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}
.assessment-landing-footer .btn-primary,
.assessment-landing-footer .btn-primary:active,
.assessment-landing-footer .btn-primary:focus,
.assessment-landing-footer .btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
    outline: none !important;
}
.thanks-page-container {
    width: 100%;
    float: left;
    padding: 24px 38px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.thanks-page-title {
    width: 100%;
    float: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.thanks-page-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thanks-page-img img {
    height: 35px;
}
.sub-content {
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.accept-invitation-container {
    width: 100%;
    padding: 16px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.accept-invitation-title {
    width: 100%;
    float: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.invitation-profile-container {
    width: 100%;
    display: flex;
    padding: 32px 0;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.invitation-profile-img {
    width: 112px;
    height: 112px;
    border-radius: 100%;
}
.invitation-profile-name {
    padding: 8px 0;
    padding-bottom: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.invitation-profile-church {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.invitation-profile-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding: 12px 0;
    margin-top: 12px;
}
.invitation-profile-container .assessment-btn {
    padding: 10px 22px;
}
.invitation-update-text {
    width: 100%;
    float: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.invitation-app-icons {
    width: 100%;
    padding: 26px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invitation-app-icons img {
    height: 35px;
    margin: 0 5px;
}
.get-app-profile-img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}
.get-app-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    background: #FFFFFF;
    border-bottom: 1px solid #F1EFEF;
}
.get-btn {
    background: #007AFE;
    border-radius: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 6px 20px;
    border: solid 1px #007AFE;
}
.get-app-profile {
    display: flex;
    align-items: center;
}
.app-profile-name-info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}
.app-profile-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
.app-profile-info {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
}
.assessment-landing-container.questionnaire-container .navbar.hidden{
    display: none !important;
}
.assessment-landing-container.questionnaire-container .tab-content>.active {
    width: 100%;
    float: left;
    display: contents;
}