<div class="accept-invitation-container">
  <div class="get-app-container">
    <div class="get-app-profile">
      <img
        src="/images/hightbale-logo.png"
        alt=""
        class="get-app-profile-img"
      />
      <div class="app-profile-name-info">
        <div class="app-profile-name">hightbale</div>
        <div class="app-profile-info">Open in the hightbale app</div>
      </div>
    </div>
    <button class="get-btn" onclick="downloadApp()">GET</button>
  </div>
  <div class="full-width">
    <div class="accept-invitation-title">
      Praise! Welcome to the family of God
    </div>
    <div class="invitation-profile-container">
      <img
        id="id_user_pro"
        src="/images/default.png"
        alt=""
        class="invitation-profile-img"
      />
      <div class="invitation-profile-name">
        <span id="id_invited_name"></span>
        <span id="id_last_name"></span>
      </div>
      <div id="id_preferred_church" class="invitation-profile-church"></div>
      <!-- <div class="invitation-profile-church">Cornerstone church</div> -->
      <div class="invitation-profile-content">
        Use this code to finish signing up for an account
      </div>
      <div class="invitation-profile-content mt-0">
        Invitation code:<b id="referralCode"> </b>
      </div>
      <button class="assessment-btn" onclick="downloadApp()">
        Download the app to get started
      </button>
    </div>
    <div class="invitation-update-text">
      Never miss an update with the hightbale app
    </div>
    <div class="invitation-app-icons">
      <!-- <a href="https://play.google.com/store/apps/details?id=com.hightbalenow&pli=1"> -->
      <img
        src="/images/google-play.png"
        onclick="downloadApp()"
        alt="Google Playstore"
      />
      <!-- </a> -->
      <!-- <a href="https://apps.apple.com/us/app/hightbale-app/id6450853303"> -->
      <img
        src="/images/app-store.png"
        onclick="downloadApp()"
        alt="Google Playstore"
      />
      <!-- </a> -->
    </div>
  </div>
</div>
