<div class="header-bg" style="background-image: url(/images/main-bg.png);"></div>
<div class="non-disciple-body-container">
    <div class="header-profile-set">
        <div class="user-profile-img">
            <!-- <img id="id_user_pro" src="" alt="user"> -->
            <img id="id_user_pro" src="/images/default.png">
            <!-- <img src="/images/user.png" alt="My Image"> -->
        </div>

        <div class="header-profile-name-label">
            <div class="header-profile-label">Invited by</div>
            <div id="id_invited_by" class="header-profile-name"></div>
        </div>
    </div>
    <div class="main-title">
        Answer a few questions.
        Find out if God, the Father
        is drawing you to Christ
    </div>
    <div class="full-width">
        <button class="assessment-btn" onclick="submitAssessment()">Get started</button>
    </div>
    <div class="assessment-info-text">
        By clicking Get started I agree that the person who
        invited me will be notified when I complete and submit the questionnaire. <a href="javascript:;">Learn more</a>
    </div>
    <div class="assessment-info-title">
        Get to know the gospel of the good news
    </div>
    <div class="full-width">
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">1</span>
            <div class="instuction-set-title">
                For all have sinned
            </div>
            <div class="instuction-set-info">
                For although they knew God, they did not honor him as God or give thanks to him, but they became futile
                in their thinking, and their foolish hearts were darkened. Romans 1:21
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">2</span>
            <div class="instuction-set-title">
                Christ died for our sins
            </div>
            <div class="instuction-set-info">
                For God so loved the world, that he gave his only Son, that whoever believes in him should not perish
                but have eternal life.
                John 3:16
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">3</span>
            <div class="instuction-set-title">
                The resurrection of Christ
            </div>
            <div class="instuction-set-info">
                We know that Christ, being raised from the dead, will never die again; death no longer has dominion over
                him. 10 For the death he died he died to sin, once for all, but the life he lives he lives to God. 11 So
                you also must consider yourselves dead to sin and alive to God in Christ Jesus. Romans 6:9-11
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">4</span>
            <div class="instuction-set-title">
                Free gift
            </div>
            <div class="instuction-set-info">
                For by grace you have been saved through faith. And this is not your own doing; it is the gift of God, 9
                not a result of works, so that no one may boast. Ephesians 2:8–9
            </div>
        </div>
        <!-- <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">5</span>
            <div class="instuction-set-title">
                Gospel message goes here
            </div>
            <div class="instuction-set-info">
                Bible verse goes here Bible verse goes here Bible verse goes here
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">6</span>
            <div class="instuction-set-title">
                Gospel message goes here
            </div>
            <div class="instuction-set-info">
                Bible verse goes here Bible verse goes here Bible verse goes here
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">7</span>
            <div class="instuction-set-title">
                Gospel message goes here
            </div>
            <div class="instuction-set-info">
                Bible verse goes here Bible verse goes here Bible verse goes here
            </div>
        </div> -->
    </div>
</div>
<div class="fixed-footer-container">
    <a href="javascript:;" class="footer-decline" onclick="location.href = '/assessmentDecline'">Decline</a>
    <button class="assessment-btn" onclick="submitAssessment()">Start assessment</button>
</div>