<div class="thanks-page-container">
    <div class="thanks-page-title">
        Thanks for submitting questionnaire
    </div>
    <a href="javascript:;" class="thanks-page-img">
        <!-- <img src="images/google-play.png" alt=""> -->
        <img src="images/app-store.png" alt="">
    </a>
</div>