<div class="assessment-landing-container">
    <div class="main-title" style="padding: 16px 0;">
        We’re bummed you declined 
        to take the questionnaire.
    </div>
    <div class="assessment-input-container">
        <label>Share your feedback</label>
        <textarea id="message_feedback" rows="5"></textarea>
    </div>
    <div class="assessment-landing-footer justify-end">
        <!-- <button class="assessment-btn">Send</button> -->
        <button onclick="assessmentDecline()" class="assessment-btn">Send</button>
    </div> 
</div>
