<div class="header-bg" style="background-image: url(/images/mail-bg.png);"></div>
<div class="non-disciple-body-container">
    <div class="header-profile-set">
        <img id="id_user_pro" src="/images/default.png" alt="User">

        <div class="header-profile-name-label">
            <div class="header-profile-label">Invited by</div>
            <div id="id_invited_by" class="header-profile-name"></div>
        </div>
    </div>
    <div class="main-title" style="padding-bottom: 12px;">
        <span id="id_invited_name"></span> invites you to
        receive Christ
    </div>
    <div class="sub-content">
        ...because, if you confess with your mouth that Jesus is Lord and believe in your heart that God raised him from
        the dead, you will be saved. For with the heart one believes and is justified, and with the mouth one confesses
        and is saved. Romans 10:9-10
    </div>
    <div class="assessment-info-title">
        What it means to receive Christ
    </div>
    <div class="full-width">
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">1</span>
            <div class="instuction-set-title">
                Faith, the gift of God
            </div>
            <div class="instuction-set-info">
                To all who did receive him, to those who believed in his name, he gave the right to become children of
                God. John 1:11-12
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">2</span>
            <div class="instuction-set-title">
                Jesus, our Savior
            </div>
            <div class="instuction-set-info">
                Salvation is found in no one else, for there is no other name under heaven given to mankind by which we
                must be saved. Acts 4:12
            </div>
        </div>
        <div class="instuction-set">
            <span class="instuction-set-badge flex-middle">3</span>
            <div class="instuction-set-title">
                Jesus, our Lord
            </div>
            <div class="instuction-set-info">
                Whoever wants to be my disciple must deny themselves and take up their cross daily and follow me. Luke
                9:23
            </div>
        </div>
    </div>
</div>
<div class="fixed-footer-container">
    <!-- <a href="javascript:;" class="footer-decline">Decline</a> -->
    <button class="footer-decline" onclick="declineInvitation()"> Decline</button>
    <button class="assessment-btn" onclick="acceptInvitation()">Accept Invitation</button>
</div>