<div class="assessment-landing-container">
    <div class="main-title" style="padding: 16px 0;">
        Take the assessment.
        Find out if God, the Father
        is drawing you to Christ
    </div>
    <div class="assessment-input-container">
        <label>Share your feedback</label>
        <textarea id="message_feedback" rows="5"></textarea>
    </div>
    <div class="assessment-landing-footer justify-end">
        <!-- <button class="assessment-btn">Send</button> -->
        <button onclick="inviteDecline()" class="assessment-btn">Send</button>
    </div>
</div>